<div class="box">
    <div class="row">
        <div class="col-md-5">
            <img src="{{data.image}}" alt="" class="img-fluid">
        </div>
        <div class="col-md-7">
            <div class="info">
                <ul class="list-unstyled">
                    <li><strong>Titel :</strong>{{data.title}} </li>
                    <li><strong>Description :</strong> {{data.description}}</li>
                    <li><strong>Price :</strong> {{data.price}}</li>
                   <li><strong>Category :</strong> {{data.category}}</li>
                   <li><strong>count :</strong> {{data.rating.count}}</li>
                </ul>
            </div>
    </div>

    <app-spinner *ngIf="isloading"></app-spinner>

</div>
